<%= button_to_function "Remove all items", "clearComparison()" %>

<table>
	<tr class="items">
		<th></th>
		<% @items.each do |item| %>
			<th class="name">
				<%= ingame_link_to_item item.id %>
				<span><%= item.name %></span>
			</th>
		<% end %>
	</tr>
	<% previous_category_id = nil %>
	<% @all_attribute_types.each do |attribute| %>
		<% unless previous_category_id == attribute.attribute_category.id %>
			<tr class="category">
				<th colspan="<%= @items.size + 1 %>"><%= attribute.attribute_category.name %></th>
			</tr>
			<% previous_category_id = attribute.attribute_category.id %>
		<% end %>
		<tr data-code="<%= attribute.code %>" class="attribute <%= cycle "odd", "even" %>">
			<th class="name">
				<%= attribute.name.blank? ? attribute.code : attribute.name %>
				<% unless attribute.attribute_unit.display.blank? %>
					<small>(<%= attribute.attribute_unit.display %>)</small>
				<% end %>
			</th>
			<% @items.each do |item| %>
				<td>
					<%= item.attribute(attribute.code).try(:value) %>
				</td>
			<% end %>
		</tr>
	<% end %>
</table>
