<p>
	This is a website containing some <%= link_to "EVE Online", "http://www.eveonline.com/" %> specific tools.
</p>
<p>
	For more info check the <%= link_to "FAQ", {:controller => "static", :action => "faq"} %>.
</p>

<ul id="tool-links">
	<li>
		<%= link_to image_tag(Graphic.url("33_03", 128))+"Item Comparison Tool", {:controller => "tools", :action => "compare_items"} %>
	</li>
	<li>
		<%= link_to image_tag(Graphic.url("32_02", 128))+"Ore Value Calculator", {:controller => "mining", :action => "ore_value"} %>
	</li>
	<li>
		<%= link_to image_tag(Graphic.url("17_02", 128))+"Contract Calculator", {:controller => "tools", :action => "calculator"} %>
	</li>
</ul>
